@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /************** Colors **************/
  --bg-dark: oklch(0.1 0.005 20);
  --bg: oklch(0.15 0.005 20);
  --bg-light: oklch(0.2 0.005 20);
  --highlight: oklch(0.5 0.01 20);
  --border: oklch(0.4 0.01 20);
  --border-muted: oklch(0.3 0.01 20);
  --primary: oklch(0.76 0.1 20);
  --secondary: oklch(0.76 0.1 200);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
  /************** Text **************/
  --ff: "IBM Plex Mono", monospace;
  --ff2: "Funnel Display", sans-serif;
  --h1: bold 3rem/1.2em var(--ff2);
  --h2: bold 2rem/1.2em var(--ff2);
  --p: 1rem/1.4em var(--ff);
  --p2: 0.875rem/1.4em var(--ff);
  --text: oklch(0.96 0.01 20);
  --text-muted: oklch(0.76 0.01 20);
  /************** Spacing **************/
  --spacing1: 0.25rem;
  --spacing2: 0.5rem;
  --spacing3: 1rem;
  --spacing4: 1.25rem;
  --spacing5: 2.5rem;
  --spacing6: 5rem;
  --spacing7: 10rem;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  /************** Icon **************/
  --icon-size: 2.25rem;
  --nav-bar-size: calc(
    (var(--spacing2) * 2) + /* top padding of .nav-tab */
      (6 * (var(--icon-size) + (var(--spacing2) * 2))) +
      /* 6 icons with top/bottom padding each */ (5 * var(--spacing2))
      /* 5 gaps between the 6 icons */
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-wrap: balance;
  font: var(--p);
  background: var(--bg-dark);
  color: var(--text-muted);
}
